@CHARSET "UTF-8";

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	background: #F5F5DC;
}

table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse: collapse;
}

input {
	display: block;
	margin: 1;
	font-family: arial;
	font-size: 14px;
	appearance: searchfield;
	box-shadow: none;
	border-radius: none;
}
